:root {
    /* typography */
    --font-tiny: 12px;
    --font-small: 18px;
    --font-medium: 24px;
    --font-large: 30px;
    --font-huge: 36px;
    /* sizes */
    --tiny: 5px;
    --small: 10px;
    --medium: 15px;
    --large: 20px;
    --huge: 25px;
    /* timing */
    --shortest: 0.25s;
    --short: 0.5s;
    --average: 0.75s;
    --long: 1s;
    --longest: 1.25s;
    /* colours */
    --purple: #5500FF;
    --black: #000;
    --white: #fff;
    --red: #FA5353;
    --blue: #459AFD;
    --green: #29F676;
    --yellow: #F0F320;
    --orange: #FF921F;
    --light-grey: #ebebeb;
    --light-grey-code-border: #d1d1d1;
}

                                                                                                                                                /* css resets */

body {
    margin: 0;
}

footer {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: var(--font-large);
    margin: 0;
}

pre {
    margin: 0;
}


                                                                                                                                                /***** colour presets *****/

mark {
    background-color: var(--purple);
    color: var(--white);
}

                                                                                                                                                /*** typography ***/

                                                                                                                                                /* text sizes */

.font-tiny {
    font-size: var(--font-tiny);
}

.font-small {
    font-size: var(--font-small);
}

.font-medium {
    font-size: var(--font-medium);
}

.font-large {
    font-size: var(--font-large);
}

.font-huge {
    font-size: var(--font-huge);
}

                                                                                                                                                /*** buttons ***/

.btn {
    padding: 15px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    filter: brightness(95%);
}

.btn:active {
    filter: brightness(90%);

}

/* colour sets */

.bg-code {
    font-family: monospace;
    border: solid 1px;
    /* border-color: var(--light-grey-code-border);
    background-color: var(--light-grey); */
    padding: 25px;
}

                                                                                                                                                /* colours */

.purple {
    color: var(--purple);
}

.bg-purple {
    background-color: var(--purple);
}

.red {
    color: var(--red);
}

.bg-red {
    background-color: var(--red);
}

.blue {
    color: var(--blue);
}

.bg-blue {
    background-color: var(--blue);
}

.green {
    color: var(--green);
}

.bg-green {
    background-color: var(--green);
}

.yellow {
    color: var(--yellow);
}

.bg-yellow {
    background-color: var(--yellow);
}

.orange {
    color: var(--orange);
}

.bg-orange {
    background-color: var(--orange);
}

.black {
    color: var(--black);
}

.bg-black {
    background-color: var(--black);
}

.white {
    color: var(--white);
}

.bg-white {
    background-color: var(--white);
}

.border-purple {
    border: var(--purple);
}

.border-red {
    border: var(--red);
}

.border-blue {
    border: var(--blue);
}

.border-green {
    border: var(--green);
}

.border-yellow {
    border: var(--yellow);
}

.border-orange {
    border: var(--orange);
}

.border-black {
    border: var(--black);
}

.border-white {
    border: var(--white);
}

                                                                                                                                                /*** composition ****/

                                                                                                                                                /* flex */

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-row-rev {
    display: flex;
    flex-direction: row-reverse;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-column-rev {
    display: flex;
    flex-direction: column-reverse;
}

.flex-around {
    justify-content: space-around;
}

.flex-between {
    justify-content: space-between;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.gap-tiny {
    gap: var(--tiny);
}

.gap-small {
    gap: var(--small);
}

.gap-medium {
    gap: var(--medium);
}

.gap-large {
    gap: var(--large);
}

.gap-huge {
    gap: var(--huge);
}

                                                                                                                                                /*** borders ***/

.border-solid {
    border: solid;
}

.border-dashed {
    border: dashed;
}

.border-dotted {
    border: dotted;
}

.border-double {
    border: double;
}

.border-none {
    border: none;
}

.border-1 {
    border: 1px;
}

.border-2 {
    border: 2px;
}

.border-3 {
    border: 3px;
}

.border-tiny {
    border: var(--tiny);
}

.border-small {
    border: var(--small);
}

.border-medium {
    border: var(--medium);
}

.border-large {
    border: var(--large);
}

.border-huge {
    border: var(--huge);
}

.radius-tiny {
    border-radius: var(--tiny);
}

.radius-small {
    border-radius: var(--small);
}

.radius-medium {
    border-radius: var(--medium);
}

.radius-large {
    border-radius: var(--large);
}

.radius-huge {
    border-radius: var(--huge);
}

                                                                                                                                                /*** miscellaneous ***/

.fixed {
    /* Acount for overlap by adding space under top effected element */
    position: fixed;
    top: 0;
    z-index: 999;
}

.width-fit {
    width: fit-content;
}

.width-auto {
    width: auto;
}

.width-100 {
    width: 100%;
}

.width-75 {
    width: 75%;
}

.width-50 {
    width: 50%;
}

.width-25 {
    width: 25%;
}

.height-fit {
    height: fit-content;
}

.height-auto {
    height: auto;
}

.height-100 {
    height: 100%;
}

.height-75 {
    height: 75%;
}

.height-50 {
    height: 50%;
}

.height-25 {
    height: 25%;
}

.padding-none {
    padding: 0;
}

.padding-tiny {
    padding: var(--tiny);
}

.padding-small {
    padding: var(--small);
}

.padding-medium {
    padding: var(--medium);
}

.padding-large {
    padding: var(--large);
}

.padding-huge {
    padding: var(--huge);
}

.margin-none {
    margin: 0;
}

.margin-tiny {
    margin: var(--tiny);
}

.margin-small {
    margin: var(--small);
}

.margin-medium {
    margin: var(--medium);
}

.margin-large {
    margin: var(--large);
}

.margin-huge {
    margin: var(--huge);
}

                                                                                                                                                /* centering */

.center-x {
    margin-left: auto;
    margin-right: auto;
}

.center-y {
    margin-top: auto;
    margin-bottom: auto;
}

                                                                                                                                                /* images */

@keyframes in {
    to {
        transform: scale(1);
    }

    from {
        transform: scale(1.07);
    }
}

@keyframes out {
    100% {
        transform: scale(1.07);
    }

    0% {
        transform: scale(1);
    }
}

.img {
    animation: in var(--short);
    z-index: 1;
}

.img:hover {
    transform: scale(1.07);
    animation: out var(--short);
    z-index: 2;
}